@font-face {
  font-family: 'Greek';
  src: url(../../fonts/GFSSolomos.otf); }
html {
  height: 100%;
  min-height: 100%; }

@font-face {
  font-family: 'Greek';
  src: url(fonts/GFSSolomos.otf); }
.test-border {
  border: 1px solid black; }

body {
  margin: 0;
  padding: 0;
  color: white;
  background-image: url("../images/home-page/main2.jpg");
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; }

.phone {
  font-family: Greek;
  padding: 5px;
  border: 1px solid white;
  border-radius: 20px;
  background-color: rgba(16, 35, 15, 0.8); }

.quote {
  background-color: rgba(16, 35, 15, 0.8);
  border: 1px solid white;
  border-radius: 10px;
  padding: 5px; }

.quote {
  font-family: 'Greek';
  margin: 10px 0; }

ul {
  padding: 0; }

a {
  color: white; }

.social-icons li {
  display: inline-block; }

@media (max-width: 1024px) {
  .navbar-header {
    float: none; }

  .navbar-left, .navbar-right {
    float: none !important; }

  .navbar-toggle {
    display: block; }

  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1); }

  .navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px; }

  .navbar-collapse.collapse {
    display: none !important; }

  .navbar-nav {
    float: none !important;
    margin-top: 7.5px; }

  .navbar-nav > li {
    float: none; }

  .navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px; }

  .collapse.in {
    display: block !important; } }
.badge.facebook {
  background-color: #3b5998; }
.badge.twitter {
  background-color: #1dcaff; }
.badge.pinterest {
  background-color: #cb2027; }
.badge.instagram {
  background: linear-gradient(#400080, transparent), linear-gradient(200deg, #d047d1, #ff0000, #ffff00); }

.navbar-default {
  background-color: #10230f; }
  .navbar-default .navbar-brand {
    color: white; }

.navbar-default.navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: white; }

.navbar-default .navbar-nav > li > a {
  color: white;
  font-size: large; }

.display-inline {
  display: inline-block; }

.bottom-row {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0; }
  .bottom-row .navbar {
    margin-bottom: 0; }

.hours-table {
  padding: 15px;
  text-align: center; }

#horizontal-menu {
  background-color: #10230f;
  color: white; }
  #horizontal-menu li a {
    color: white; }
  #horizontal-menu li a:hover {
    color: black; }

.arrow-angle {
  display: none; }

@font-face {
  font-family: 'Greek';
  src: url(../../fonts/GFSSolomos.otf); }
html {
  height: 100%;
  min-height: 100%; }

@font-face {
  font-family: 'Greek';
  src: url(fonts/GFSSolomos.otf); }
.test-border {
  border: 1px solid black; }

body {
  margin: 0;
  padding: 0;
  color: white;
  background-image: url("../images/home-page/main2.jpg");
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; }

.phone {
  font-family: Greek;
  padding: 5px;
  border: 1px solid white;
  border-radius: 20px;
  background-color: rgba(16, 35, 15, 0.8); }

.quote {
  background-color: rgba(16, 35, 15, 0.8);
  border: 1px solid white;
  border-radius: 10px;
  padding: 5px; }

.quote {
  font-family: 'Greek';
  margin: 10px 0; }

ul {
  padding: 0; }

a {
  color: white; }

.social-icons li {
  display: inline-block; }

@media (max-width: 1024px) {
  .navbar-header {
    float: none; }

  .navbar-left, .navbar-right {
    float: none !important; }

  .navbar-toggle {
    display: block; }

  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1); }

  .navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px; }

  .navbar-collapse.collapse {
    display: none !important; }

  .navbar-nav {
    float: none !important;
    margin-top: 7.5px; }

  .navbar-nav > li {
    float: none; }

  .navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px; }

  .collapse.in {
    display: block !important; } }
.badge.facebook {
  background-color: #3b5998; }
.badge.twitter {
  background-color: #1dcaff; }
.badge.pinterest {
  background-color: #cb2027; }
.badge.instagram {
  background: linear-gradient(#400080, transparent), linear-gradient(200deg, #d047d1, #ff0000, #ffff00); }

.navbar-default {
  background-color: #10230f; }
  .navbar-default .navbar-brand {
    color: white; }

.navbar-default.navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: white; }

.navbar-default .navbar-nav > li > a {
  color: white;
  font-size: large; }

.display-inline {
  display: inline-block; }

.bottom-row {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0; }
  .bottom-row .navbar {
    margin-bottom: 0; }

.hours-table {
  padding: 15px;
  text-align: center; }

#horizontal-menu {
  background-color: #10230f;
  color: white; }
  #horizontal-menu li a {
    color: white; }
  #horizontal-menu li a:hover {
    color: black; }

.arrow-angle {
  display: none; }

@media only screen and (max-width: 480px) {
  .phone {
    width: 110px; }

  footer {
    font-size: 8px; }

  .hours {
    margin-top: 12px; }

  .quote {
    font-size: 20px; }

  .footer-rights {
    margin-bottom: 5px; }

  .normal-font {
    font-size: medium; }

  .header {
    padding: 20px 20px 0 0; }

  .img-logo {
    width: 100px;
    display: block;
    margin-right: auto;
    margin-left: auto; }

  .footer-rights {
    font-size: 6px;
    opacity: 0.6; }

  .footer-big-screens {
    display: none; } }
@font-face {
  font-family: 'Greek';
  src: url(../../fonts/GFSSolomos.otf); }
html {
  height: 100%;
  min-height: 100%; }

@font-face {
  font-family: 'Greek';
  src: url(fonts/GFSSolomos.otf); }
.test-border {
  border: 1px solid black; }

body {
  margin: 0;
  padding: 0;
  color: white;
  background-image: url("../images/home-page/main2.jpg");
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; }

.phone {
  font-family: Greek;
  padding: 5px;
  border: 1px solid white;
  border-radius: 20px;
  background-color: rgba(16, 35, 15, 0.8); }

.quote {
  background-color: rgba(16, 35, 15, 0.8);
  border: 1px solid white;
  border-radius: 10px;
  padding: 5px; }

.quote {
  font-family: 'Greek';
  margin: 10px 0; }

ul {
  padding: 0; }

a {
  color: white; }

.social-icons li {
  display: inline-block; }

@media (max-width: 1024px) {
  .navbar-header {
    float: none; }

  .navbar-left, .navbar-right {
    float: none !important; }

  .navbar-toggle {
    display: block; }

  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1); }

  .navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px; }

  .navbar-collapse.collapse {
    display: none !important; }

  .navbar-nav {
    float: none !important;
    margin-top: 7.5px; }

  .navbar-nav > li {
    float: none; }

  .navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px; }

  .collapse.in {
    display: block !important; } }
.badge.facebook {
  background-color: #3b5998; }
.badge.twitter {
  background-color: #1dcaff; }
.badge.pinterest {
  background-color: #cb2027; }
.badge.instagram {
  background: linear-gradient(#400080, transparent), linear-gradient(200deg, #d047d1, #ff0000, #ffff00); }

.navbar-default {
  background-color: #10230f; }
  .navbar-default .navbar-brand {
    color: white; }

.navbar-default.navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: white; }

.navbar-default .navbar-nav > li > a {
  color: white;
  font-size: large; }

.display-inline {
  display: inline-block; }

.bottom-row {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0; }
  .bottom-row .navbar {
    margin-bottom: 0; }

.hours-table {
  padding: 15px;
  text-align: center; }

#horizontal-menu {
  background-color: #10230f;
  color: white; }
  #horizontal-menu li a {
    color: white; }
  #horizontal-menu li a:hover {
    color: black; }

.arrow-angle {
  display: none; }

@media only screen and (min-width: 481px) and (max-width: 767px) {
  .quote {
    font-size: 22px; }

  .img-logo {
    width: 130px;
    display: block;
    margin-right: auto;
    margin-left: auto; }

  .phone {
    width: 160px; }

  .social-icons {
    padding-top: 5px; }

  #hours {
    display: none; }

  .footer-rights {
    font-size: 6px;
    opacity: 0.6; }

  .footer-big-screens {
    display: none; } }
@font-face {
  font-family: 'Greek';
  src: url(../../fonts/GFSSolomos.otf); }
html {
  height: 100%;
  min-height: 100%; }

@font-face {
  font-family: 'Greek';
  src: url(fonts/GFSSolomos.otf); }
.test-border {
  border: 1px solid black; }

body {
  margin: 0;
  padding: 0;
  color: white;
  background-image: url("../images/home-page/main2.jpg");
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; }

.phone {
  font-family: Greek;
  padding: 5px;
  border: 1px solid white;
  border-radius: 20px;
  background-color: rgba(16, 35, 15, 0.8); }

.quote {
  background-color: rgba(16, 35, 15, 0.8);
  border: 1px solid white;
  border-radius: 10px;
  padding: 5px; }

.quote {
  font-family: 'Greek';
  margin: 10px 0; }

ul {
  padding: 0; }

a {
  color: white; }

.social-icons li {
  display: inline-block; }

@media (max-width: 1024px) {
  .navbar-header {
    float: none; }

  .navbar-left, .navbar-right {
    float: none !important; }

  .navbar-toggle {
    display: block; }

  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1); }

  .navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px; }

  .navbar-collapse.collapse {
    display: none !important; }

  .navbar-nav {
    float: none !important;
    margin-top: 7.5px; }

  .navbar-nav > li {
    float: none; }

  .navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px; }

  .collapse.in {
    display: block !important; } }
.badge.facebook {
  background-color: #3b5998; }
.badge.twitter {
  background-color: #1dcaff; }
.badge.pinterest {
  background-color: #cb2027; }
.badge.instagram {
  background: linear-gradient(#400080, transparent), linear-gradient(200deg, #d047d1, #ff0000, #ffff00); }

.navbar-default {
  background-color: #10230f; }
  .navbar-default .navbar-brand {
    color: white; }

.navbar-default.navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: white; }

.navbar-default .navbar-nav > li > a {
  color: white;
  font-size: large; }

.display-inline {
  display: inline-block; }

.bottom-row {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0; }
  .bottom-row .navbar {
    margin-bottom: 0; }

.hours-table {
  padding: 15px;
  text-align: center; }

#horizontal-menu {
  background-color: #10230f;
  color: white; }
  #horizontal-menu li a {
    color: white; }
  #horizontal-menu li a:hover {
    color: black; }

.arrow-angle {
  display: none; }

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .img-logo {
    width: 340px;
    display: block;
    margin-right: auto;
    margin-left: auto; }

  .phone {
    width: 180px; }

  .quote {
    font-size: 58px; }

  .footer-rights {
    font-size: 10px;
    opacity: 0.6; }

  .fa-size {
    font-size: 24px !important; }

  .social-icons {
    margin-top: 20px; }
    .social-icons li {
      margin-right: 10px; }

  .header {
    padding: 20px 20px 0 0; }

  .phone, .hours-table {
    font-size: 25px; }

  .footer-big-screens {
    display: none; } }
@font-face {
  font-family: 'Greek';
  src: url(../../fonts/GFSSolomos.otf); }
html {
  height: 100%;
  min-height: 100%; }

@font-face {
  font-family: 'Greek';
  src: url(fonts/GFSSolomos.otf); }
.test-border {
  border: 1px solid black; }

body {
  margin: 0;
  padding: 0;
  color: white;
  background-image: url("../images/home-page/main2.jpg");
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; }

.phone {
  font-family: Greek;
  padding: 5px;
  border: 1px solid white;
  border-radius: 20px;
  background-color: rgba(16, 35, 15, 0.8); }

.quote {
  background-color: rgba(16, 35, 15, 0.8);
  border: 1px solid white;
  border-radius: 10px;
  padding: 5px; }

.quote {
  font-family: 'Greek';
  margin: 10px 0; }

ul {
  padding: 0; }

a {
  color: white; }

.social-icons li {
  display: inline-block; }

@media (max-width: 1024px) {
  .navbar-header {
    float: none; }

  .navbar-left, .navbar-right {
    float: none !important; }

  .navbar-toggle {
    display: block; }

  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1); }

  .navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px; }

  .navbar-collapse.collapse {
    display: none !important; }

  .navbar-nav {
    float: none !important;
    margin-top: 7.5px; }

  .navbar-nav > li {
    float: none; }

  .navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px; }

  .collapse.in {
    display: block !important; } }
.badge.facebook {
  background-color: #3b5998; }
.badge.twitter {
  background-color: #1dcaff; }
.badge.pinterest {
  background-color: #cb2027; }
.badge.instagram {
  background: linear-gradient(#400080, transparent), linear-gradient(200deg, #d047d1, #ff0000, #ffff00); }

.navbar-default {
  background-color: #10230f; }
  .navbar-default .navbar-brand {
    color: white; }

.navbar-default.navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: white; }

.navbar-default .navbar-nav > li > a {
  color: white;
  font-size: large; }

.display-inline {
  display: inline-block; }

.bottom-row {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0; }
  .bottom-row .navbar {
    margin-bottom: 0; }

.hours-table {
  padding: 15px;
  text-align: center; }

#horizontal-menu {
  background-color: #10230f;
  color: white; }
  #horizontal-menu li a {
    color: white; }
  #horizontal-menu li a:hover {
    color: black; }

.arrow-angle {
  display: none; }

@media only screen and (min-width: 1024px) and (max-width: 1199px) {
  .phone {
    width: 230px; }

  .img-logo {
    width: 240px;
    display: block;
    margin-right: auto;
    margin-left: auto; }

  .quote {
    font-size: 55px; }

  .footer-rights {
    font-size: 12px;
    opacity: 0.6; }

  .fa-size {
    font-size: 24px !important; }

  .social-icons {
    margin-top: 20px; }
    .social-icons li {
      margin-right: 10px; }

  .header {
    padding: 20px 10px 0 0; }

  .phone, .hours-table {
    font-size: 20px; }

  .footer-big-screens {
    display: none; } }
@font-face {
  font-family: 'Greek';
  src: url(../../fonts/GFSSolomos.otf); }
html {
  height: 100%;
  min-height: 100%; }

@font-face {
  font-family: 'Greek';
  src: url(fonts/GFSSolomos.otf); }
.test-border {
  border: 1px solid black; }

body {
  margin: 0;
  padding: 0;
  color: white;
  background-image: url("../images/home-page/main2.jpg");
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; }

.phone {
  font-family: Greek;
  padding: 5px;
  border: 1px solid white;
  border-radius: 20px;
  background-color: rgba(16, 35, 15, 0.8); }

.quote {
  background-color: rgba(16, 35, 15, 0.8);
  border: 1px solid white;
  border-radius: 10px;
  padding: 5px; }

.quote {
  font-family: 'Greek';
  margin: 10px 0; }

ul {
  padding: 0; }

a {
  color: white; }

.social-icons li {
  display: inline-block; }

@media (max-width: 1024px) {
  .navbar-header {
    float: none; }

  .navbar-left, .navbar-right {
    float: none !important; }

  .navbar-toggle {
    display: block; }

  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1); }

  .navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px; }

  .navbar-collapse.collapse {
    display: none !important; }

  .navbar-nav {
    float: none !important;
    margin-top: 7.5px; }

  .navbar-nav > li {
    float: none; }

  .navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px; }

  .collapse.in {
    display: block !important; } }
.badge.facebook {
  background-color: #3b5998; }
.badge.twitter {
  background-color: #1dcaff; }
.badge.pinterest {
  background-color: #cb2027; }
.badge.instagram {
  background: linear-gradient(#400080, transparent), linear-gradient(200deg, #d047d1, #ff0000, #ffff00); }

.navbar-default {
  background-color: #10230f; }
  .navbar-default .navbar-brand {
    color: white; }

.navbar-default.navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: white; }

.navbar-default .navbar-nav > li > a {
  color: white;
  font-size: large; }

.display-inline {
  display: inline-block; }

.bottom-row {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0; }
  .bottom-row .navbar {
    margin-bottom: 0; }

.hours-table {
  padding: 15px;
  text-align: center; }

#horizontal-menu {
  background-color: #10230f;
  color: white; }
  #horizontal-menu li a {
    color: white; }
  #horizontal-menu li a:hover {
    color: black; }

.arrow-angle {
  display: none; }

@media only screen and (min-width: 1199px) {
  .footer-rights {
    display: none; }

  .phone {
    width: 250px; }

  .fa-size {
    font-size: 25px !important; }

  .dropdown-menu {
    min-width: 1000px; }

  .social-icons {
    margin-top: 20px; }
    .social-icons li {
      margin-right: 10px; }

  .header {
    padding: 20px 20px 0 0; }

  .img-logo {
    width: 240px;
    display: block;
    margin-right: auto;
    margin-left: auto; }

  .footer-big-screens {
    padding-top: 10px;
    font-size: 9px;
    text-align: center; }

  .phone, .hours-table {
    font-size: 22px; }

  #horizontal-menu {
    min-width: 680px;
    padding-left: 0;
    margin-left: -300px;
    list-style: none; }
    #horizontal-menu li {
      display: inline-block; }
      #horizontal-menu li a {
        color: white; }
        #horizontal-menu li a:hover {
          color: black;
          border-radius: 3%;
          line-height: 33px; }
    #horizontal-menu ::after {
      content: "";
      width: 0px;
      height: 0px;
      border-left: 12px solid transparent;
      border-right: 12px solid transparent;
      border-top: 12px solid #fff;
      position: absolute;
      bottom: -12px;
      left: 50%;
      margin-left: -53px; }
    #horizontal-menu .arrow-angle {
      display: inline-block; } }

/*# sourceMappingURL=customStylesheet.css.map */
