//Font-sizes
$really-small : 8px;

//Social media colors for icons
$facebook : #3b5998;
$twitter  : #1dcaff;
$instagram : #bc2a8d;
$pinterest : #cb2027;

//Navbar color
$navbar-color : #10230f;
$ham-lines : #888;
$ham-border-color: #ddd;

//Bckground color for products
$products-background :#cfea4d;

//Social media icons special size
$ipad-size : 24px;
$large-size : 25px;

