@import "../variables";
@import "../../css/non-main-pages/slide-menu/slide-menu.scss";

//html 100%
html{
  height:100%;
  min-height:100%;
}

.test-border{
  border: 1px solid black;
}

//Body zero
body{
  margin: 0;
  padding: 0;
  color:$navbar-color;
  background: url("../../images/history/cows-nice.jpg")no-repeat center center fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;

}

ul{
  padding: 0;
}


.navbar-default{
  margin-top: 80px;
  background-color:#10230f ;
  .navbar-brand{
    color: white;
  }
}

//Image center trick .
.img-center{
  display:block;
  margin-right: auto;
  margin-left: auto;
}

//Screens to 480px
@import "small-screens/non-main-small-screens";

//Screens from 481px to 767px
@import "small-medium-screens/non-main-small-medium";

//Screens from 768px to 1023px
@import "medium-iPad-screens/non-main-medium-iPad-landscape";

//Screens from 1024px to 1199px
@import "medium-iPad-screens/non-main-medium-iPad-portrait";

//Screens above 1200px
@import "large-screens/non-main-large";