@import "../variables.scss";
@import "../general-mixins";


//===========Small Screens=======================
@media only screen and (max-width:480px){

  //Restores font to normal size
  @mixin normal-font{
    font-size: medium;
  }

  footer{
    font-size: $really-small;
    padding-top: 10px;
    li:not(:first-child){
      margin-left: 5px;
    }
  }

  .footer-rights{
    margin-bottom: 5px;
  }

  .normal-font{
    @include normal-font;
  }

  .header{
    padding-top: 20px;
  }

  .img-logo{
    width:200px;
    @include img-center;
  }

  .footer-rights{
    font-size:6px;
    opacity: 0.6;
  }


}



