@import "../variables.scss";
@import "../general-mixins";


//===========Small Screens=======================
@media only screen and (max-width:480px){

  //Restores font to normal size
  @mixin normal-font{
    font-size: medium;
  }

  .phone{
    width: 110px;
  }

  footer{
    font-size: $really-small;

  }

  .hours{
    margin-top: 12px;
  }

  .quote{
    font-size:30px ;
  }

  .footer-rights{
    margin-bottom: 5px;
  }

  .normal-font{
    @include normal-font;
  }

  .header{
    padding: 20px 20px 0 0;
  }

  .img-logo{
    width:180px;
    @include img-center;
  }

  .footer-rights{
    font-size:6px;
    opacity: 0.6;
  }

  .footer-big-screens{
    display: none;
  }
}



