@import "../variables.scss";
@import "../general-mixins";

//==========Small to Medium screens==============
@media only screen and (min-width:481px) and(max-width:767px) {
  .quote{
    font-size: 22px;
  }



  .img-logo{
    width: 130px;
    @include img-center;
  }

  .phone{
    width: 160px;

  }

  .social-icons{
    padding-top: 5px;
  }

  #hours{
    display: none;
  }

  .footer-rights{
    font-size:6px;
    opacity: 0.6;
  }

  .footer-big-screens{
    display: none;
  }

}