@import "../variables.scss";
@import "../general-mixins";

//=========Big Screens above 1200px=============
@media only screen and (min-width:1199px){

  .footer-rights{
    display: none;
  }

  .fa-size{
    font-size: $large-size !important;
  }


   .arrow-angle {


  }


  .social-icons{
    margin-top: 20px;
    li{
      margin-right: 10px;
    }

  }

  .header{
    padding: 20px 20px 0 0;
  }

  .img-logo{
    width: 280px;
    @include img-center;
  }


  .footer-big-screens{
    padding-top: 10px;
    font-size: 9px;
    text-align: center;
  }

  .phone,.hours-table{
    font-size: 22px;

  }
  .quote{
    font-size: 55px;
  }

  //This will show the list horizontal
  #horizontal-menu{
    min-width: 680px;
    padding-left: 0;
    margin-left: -300px;
    list-style: none;
    li {
      display: inline-block;

      a{
        &:hover{
        color: black;
          border-radius: 3%;
          line-height: 33px;
      }
        color: white;
      }
    }
    //The triangle that appears with the bar
    ::after {
      content: "";
      width:0px;
      height:0px;
      border-left:12px solid transparent;
      border-right:12px solid transparent;
      border-top:12px solid #fff;
      position:absolute;
      bottom:-12px;
      left: 50%;
      margin-left: -53px;
    }

    .arrow-angle{
      display: inline-block;
    }


  }
}