@import "../variables.scss";
@import "../general-mixins";

//=========iPad Landscape resolutions================
@media only screen and (min-width:768px) and(max-width:1023px) {

  .img-logo{
    width: 340px;
    @include img-center;
  }

  .quote{
    font-size: 58px;
  }

  .footer-rights{
    font-size:10px;
    opacity: 0.6;
  }



  .fa-size{
    font-size: $ipad-size !important;
  }

  .social-icons{
    margin-top: 20px;
    li{
      margin-right: 10px;
    }

  }

  .header{
    padding: 20px 20px 0 0;
  }

  .phone,.hours-table{
    font-size: 25px;

  }

  .footer-big-screens{
    display: none;
  }


}