@import "../variables.scss";
@import "../general-mixins";

//=========iPad Landscape resolutions================
@media only screen and (min-width:1024px) and(max-width:1199px) {

  .phone{
    width: 230px;
  }

  .img-logo{
    width: 240px;
    @include img-center;
  }

  .quote{
    font-size: 55px;
  }

  .footer-rights{
    font-size:12px;
    opacity: 0.6;
  }

  .fa-size{
    font-size: $ipad-size !important;
  }


  .social-icons{
    margin-top: 20px;

    li{
      margin-right: 10px;
    }

  }

  .header{
      padding: 20px 10px 0 0;
  }

  .phone,.hours-table{
    font-size: 20px;

  }

  .footer-big-screens{
    display: none;
  }




}
