@import "../../variables";


//==========Small screens==============
@media only screen and (max-width:479px) {

  #butcher-shop-page{
    background: url("../../images/butcher-shop/Farma.2.jpg")no-repeat center center fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;

    .phone{
      color: white;
    }


    h1{
      font-size: 25px;
    }
    .article-with-opacity{
      border-radius: 10px;

      margin-bottom: 20px;
      background-color: rgba(0, 0, 0,0.6);
      color: white;

    }

    .emphasis{
      font-style: italic;
      font-weight: bold;
      font-size: 18px;
      font-family: Greek;
    }

  }


  .logo {
    width: 100px;
  }



  .navbar-brand{
    font-size: 12px;
  }
  .logo-absolute {
    position: absolute;
    top: 40px;
    right: 20px;
    z-index: 999;
  }

  .top-icons-nav{
    padding: 8px 0 8px 15px;
  }



  .footer{
    padding: 5px;
    margin-top: 30px;
    height: 120px;
  }

  .footer-rights{
    font-size: 10px;
    text-align: center;
  }
  .what-they-say{
    width: 100%;
    height: 1600px;
  }

  .contact-page{
      .product-category{
        font-size: 25px;
      }

      .emphasis{
        p{
          font-size: 13px;
        }
      }

      .find-us{
        text-align: center;
        font-style: italic;
        font-family: Greek;
        font-size: 25px;
      }




  }


}




//Nexus and iPhone 6 plus tweaking
@media only screen and (min-width:410px) and(max-width:478px) {
  .logo-absolute {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 999;
  }

}
