@import "../../variables";

//For extra large screens with high height
@media only screen and (min-width:1200px) and (max-height: 1023px ) {
  #horizontal-menu{
    min-width: 680px;
    padding-left: 0;
    margin-left: -300px;
    list-style: none;
  }
  #horizontal-menu {
    background-color: #10230f;
    color: white;
  }

  footer {
    display: block;
}


    .phone {
      color: white;
    }
  }

  #history {
    .footer {
      margin-top: 100px;
    }
  }


@media only screen and (min-width:1280px) and (min-height: 1024px ){
  #butcher-shop-page {
    .footer {
      position: absolute;
      bottom: 0;
    }
  }
  footer {
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
  }


    .phone {
      color: white;
    }


    h1 {
      font-size: 27px;
    }

  }


@media only screen and (min-width:1400px) and (min-height: 900px ) {
  #history {
    .footer {
      display: block;
      position: absolute;
      bottom: 0;
      width: 100%;
    }
  }

  #products-page .footer-absolute{
    position: absolute;
    bottom: 0;
    left: 0;
  }

  #butcher-shop-page {
    .footer {
      position: absolute;
      bottom: 0;
    }
  }
}