@import "../../variables";

//==========Medium iPad landscape screens==============
@media only screen and (min-width:768px) and(max-width:1023px) {
  #butcher-shop-page {
    background: url("../../images/butcher-shop/Farma.2.jpg") no-repeat center center fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;

    .phone {
      color: white;
    }


    h1 {
      font-size: 25px;
    }
    .article-with-opacity {
      border-radius: 10px;
      margin-top: 400px;
      margin-bottom: 20px;
      background-color: rgba(0, 0, 0, 0.6);
      color: white;

    }
  }

  #slide-nav .navbar-toggle {
    margin-right: 10px ;

  }
  #slide-nav .navbar-header {
    margin: 0 auto;
    padding: 0 30px;
  }

  .footer {
    height: 120px;
  }


  .logo {
    width: 120px;
  }

  .logo-absolute {
    position: absolute;
    top: 10px;
    right: 40px;
    z-index: 999;
  }

  .top-icons-nav{
    padding: 10px 0 8px 25px;
  }



  .footer-rights{
    font-size: 10px;
    text-align: center;
  }
  .navbar-default .navbar-nav>li>a{
    color: white;
  }
  .navbar-nav{
    background-color: $navbar-color;

  }


}









